.calc {
    width: 483px;
    height: 678px;
    border: 2px solid black;
    margin: 100 px auto 0;
    text-align: center;
    background-color: #585858;
    border: 1px solid skyblue;
}

.calc_form {
    background-color: #585858;
    border: 1px solid magenta;

    height: 100%;
}

.calc_output {
    height: 33%;
}

.calc_header {
    height: 0%;
}

.calc_memory_keys {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.calc_row {
    width:100%;
}

.calc_keyboard {
    margin: 0 0;
    height: 60%;
    width: 100%;
    border: 2px solid green;

}


.calc_keyboard_row {
    margin: 0 0;
    height: 17%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.calc_display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid;
    padding: 4px 2px;
    text-align: right;
    font: 700;
    height: 15%;
    background-color: #585858;

    border: 1px solid red;
}

.calc_key {
    color: #ffffff;
    font: 28px arial bold, sans-serif;
    border: 1px solid #585858;
    width: 100%;
}

.calc_key_num {
    background-color: #0e0f10;
}

.calc_key_func {
    background-color: #2b2e30;
}

.calc_key_mem {
    background-color: #575757;
    font-size: 16px;
    border: 1px solid blue;
}

