.calc {
    width: 483px;
    height: 678px;
    border: 2px solid black;
    margin: 100 px auto 0;
    text-align: center;
    background-color: #585858;
}

.calc_form {
    background-color: #585858;

    display: flex;

    justify-content: space-between;

    flex-direction: column;
    /*min-height: 100vh;*/
    min-height: 678px;
}

.calc_row {
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    /*
    flex-direction: row;
    flex: 1 1 0;*/
}

.calc_keyboard_row {
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    min-height: 20%;

    flex: 1 1 0;
}

.calc_display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid;
    padding: 4px 2px;
    text-align: right;
    font: 700;
    background-color: #585858;

    border: 1px solid red;
}

.calc_key {
    color: #ffffff;
    font: 28px arial bold, sans-serif;
    border: 1px solid #585858;
    width: 100%;
    /*flex: 1 1 0;*/
}

.calc_key_num {
    background-color: #0e0f10;
}

.calc_key_func {
    background-color: #2b2e30;
}

.calc_key_mem {
    background-color: #575757;

    border: 2px solid blue;
}

.calc_keyboard {
    /*height: 50%;*/
    flex-grow: 1;

    border: 2px solid green;
}

.calc_output {
    /*height: 33%;*/
    flex-grow: 0;
}

.calc_header {
    /*height: 10%;*/
    flex-grow: 0;
}

.calc_memory_keys {
    /*height: 7%;*/
    flex-grow: 0;
}